.fashionflashsale {
    height: 250px;
    background-color: #707070;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-weight: $font-weight-bold;
    margin: 35px 0;
    
}