.footer {
    background-color: #f8f8f8;
    height: 110px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 14px;
    width: 100%;

    .social-media {
        display: flex;
        gap: 1rem;
        
        a {
            color: black;
            transition: 0.2s ease-in-out;

           &:hover {
                color: $color-theme-orange;
                scale: 1.6;
            }
        }

        
    }
    
    p{
        margin: 0;
    }
}