.form {
    padding-top: 80px;
    width: 100vw;
    display: flex;
    justify-content: center;
    
    span {
        color: red;
        display: none;
    }
    input:focus{
        outline: none;
        border: 1px solid black;

    }
    input:invalid[focused="true"] ~ span {
        display: block;
    }
    input:invalid[focused="true"] {
        outline: none;
        border: 1px solid red;

        &::placeholder {
            color: red;
        }
    }

}

